#project-main {
  width: 100%;

  background-color: black;
  color: white;
  /* background-color: #fefae0; */
  .project-header {
    width: 100%;
    display: flex;
    h1 {
      margin: 2rem 0 0 2rem;
    }
  }
  .project-body {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      // margin: 2rem;
      .card {
        color: black;
        margin: 2rem;
        width: 25%;
        height: 50vh;
        background-color: #fefae0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h4 {
          font-size: 1.5rem;
        }
        padding: 1rem;
        img {
          margin: 2rem;
        }
        p {
          text-indent: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #project-main {
    .project-header {
    }
    .project-body {
      .container {
        .card {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #project-main {
    .project-header {
    }
    .project-body {
      .container {
        .card {
          width: 80%;
        }
      }
    }
  }
}
