.about-page {
  scroll-margin-top: 48px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .left {
    width: 100%;
    min-width: 0;
    flex: 3 1 400px;
    padding: 4rem 0 2rem 4rem;
    display: flex;
    flex-direction: column;
    .left-header{
      margin: 2rem 0 0 2rem;
      h1{
        font-size: 2.5rem;
        width: 100%;
        margin: 0;
      }
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    p {
      margin: 2rem 0;
    }
  }
  .right {
    flex: 1 1 400px;
    position: relative;
    display: flex;

    img {
      width: 20vw;
      height: auto;
      //   height: 40vh;
      margin: auto;
    }
  }
}

@media screen and (max-width: 1050px) {
  .about-page {
    .left {
      padding: 2rem 2rem;
    }
    .right {
      img {
        width: 25vw;
        margin: 3em auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-page {
    .left {
      padding: 0.5rem 1rem;
      
    }
    .right {
      img {
        width: 40vw;
      }
    }
  }
}
