

div > .certificate-page {
  // background-color: #e9edc9;
  .page-body > .container > .card {
   
    .card-img{
      margin:2rem;
      img{
        margin: auto;
        width: 100%;
      }
    }

  }
}



@media screen and (max-width: 1400px) {
  div > .certificate-page {

    .page-body > .container > .card {
   
      .card-img{
        margin:0rem;
        // img{
        //   margin: auto;
        //   width: 100%;
        // }
      }
  
    }
  }
}
