.header-page{
    height: 100vh;
    display:flex;

div{
    min-width:0;
    text-align: center;
    margin:auto;
font-size:3.5rem;
font-weight: bold
;

}
}


@media screen and (max-width: 600px) {
.header-page > div{
    font-size: 2.5rem;
}
  }
  